<%= form_with model: post, data: { controller: "parsley", parsley_validate: true, parsley_trigger: "change", parsley_focus: "first" } do |form| %>
  ...
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-6 col-12">
      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, class: "form-control", placeholder: "Título", data: {parsley_required: "true"} %>
      </div>
    </div>
    <div class="col-md-6 col-12">
      <div class="form-group">
        <%= form.label :desc %>
        <%= form.text_field :desc, class: "form-control", placeholder: "Descrição", data: {parsley_required: "true"} %>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-end">
      <%= form.submit "Cadastrar", class: "btn btn-primary me-1 mb-1" %>
    </div>
  </div>
<% end %>
